*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
}
.container{
    /*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
}

.tv-interface{
    position: absolute;
    top: 0%; left: 0%;
    width: 100%;
    height: 100%;
    border: 40px solid #424242;
    /*backdrop-filter: brightness(200%);*/
} 

.bg-img-select{
    position: absolute;
    top: 1.2%; left: 1.5%;
    color: #FFF;
}

.controls{
    display: flex;
    position: absolute;
    bottom: 1.2%; left: 1.5%;
    width: 50%;
}
.controls input{
    width: 60%;
}
.controls label{
    width: 35%;
    color: #FFF;
    font-size: 25px;
}

.ascii-div {
    position: absolute;
    top: 0%; left: 0%;
    font-family: 'Courier';
    font-size: 12pt;
    line-height: 80%;
    letter-spacing: 1px;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    overflow: hidden;
    text-wrap: nowrap;
}